@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0d0e0f;
  line-height: 1;
  font-family: "Kanit", sans-serif;
  display: grid;
  place-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

header img {
  width: 80px;
}

header a {
  text-decoration: none;
  color: white;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}

header nav {
  display: flex;
  gap: 20px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section {
  margin-top: 7.5rem;
}

.teste img {
  position: absolute;
  max-width: 100%;
  margin: 11.25rem auto 0 auto;
  opacity: 0.5;
  bottom: 190px;
}

p {
  font-size: 1.125rem;
  line-height: 1.33333333333;
  color: #a1a1a6;
  margin-top: 1.25rem;
  max-width: 600px;
  padding-left: 1.75rem;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu li + li {
  margin-left: 5rem;
}

.content {
  padding-top: 25rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.title {
  font-size: 4rem;
  line-height: 1.125;
  color: #f5f5f7;
}

.title span {
  color: #4dc8ff;
}

.title:first-child {
  padding-left: 1.25rem;
  border-left: 0.5rem solid #4dc8ff;
}

.link {
  font-size: 1.125rem;
  display: inline-block;
  text-decoration: none;
  color: #4dc8ff;
  margin-top: 1rem;
  margin-left: 1.75rem;
}

.link:hover {
  text-decoration: underline;
}

small {
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  color: #a1a1a6;
  margin-top: 80vh;
  margin-bottom: 5rem;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

@media (max-width: 450px) {
  .menu li + li {
    margin-left: 2rem;
  }
}
